<div class="login-container">
  <div class="login-box">
    <h2>Register</h2>

    <input type="text" [(ngModel)]="userName" placeholder="Username" />
    <input type="email" [(ngModel)]="email" placeholder="Email" />
    <input type="text" [(ngModel)]="phoneNumber" placeholder="Phone Number" />
    <input type="password" [(ngModel)]="password" placeholder="Password" />

    <select [(ngModel)]="selectedRole">
      <option value="" disabled selected>Select Role</option>
      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
    </select>

    <button (click)="register()">Register</button>

    <p *ngIf="message" class="success-msg">{{ message }}</p>

  <button *ngIf="message === 'Registration successful'" (click)="goToLogin()">
    Go to Login
  </button>


    <p class="error-msg">{{ message }}</p>
  </div>
</div>
